.button {
  padding: 12px 40px;
  background: var(--primary-orange-btn);
  border-radius: 8px 0px;
  font-family: var(--font-avenir), sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-roman);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--neutral-white);
  display: inline-block;
}
