.home-about {
  padding: 80px 0;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: 992px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 48px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    @media (min-width: 992px) {
      width: 455px;
      flex-shrink: 0;
      gap: 32px;
    }
  }

  &__tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    background: #f6f6f6;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    font-family: var(--font-avenir), sans-serif;
    font-weight: var(--font-weight-medium);
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #333333;
  }

  &__title {
    font-family: var(--font-avenir), sans-serif;
    font-weight: var(--font-weight-heavy);
    font-size: 28px;
    line-height: 36px;
    color: #333333;

    @media (min-width: 992px) {
      font-size: 32px;
      line-height: 36px;
    }
  }

  &__title-accent {
    color: #ef4230;
  }

  &__body {
    font-family: var(--font-avenir), sans-serif;
    font-weight: var(--font-weight-roman);
    font-size: 16px;
    line-height: 20px;
    color: #333333;
  }

  &__right {
    flex: 1;
    video{
      width: 100%;
      height: auto;
      display: block;
      border-top-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }

}
