.service-card {
  position: relative;
  overflow-y: hidden;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transition: all 300ms ease-out;
      .service-card__content {
        bottom: 0;
        gap: 4px;
        .service-card__title {
          padding-bottom: 0;
        }
        .service-card__description {
          padding-top: 0;
        }
      }
    }
  }

  &__image-wrapper {
    background-color: rebeccapurple;
    overflow: hidden;
    position: relative;
    width: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }
  }

  &__content {
    background-color: #fff;
    // padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 100%;
    height: auto;
    transition: bottom 300ms ease-out;
    @media (min-width: 768px) {
      gap: 16px;
      position: absolute;
      bottom: -88px;
    }
  }

  &__title {
    font-family: var(--font-avenir), sans-serif;
    font-style: normal;
    font-weight: var(--font-weight-heavy);
    font-size: 18px;
    line-height: 22px;
    color: var(--neutral-black1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 24px 24px 0;
    @media (min-width: 768px) {
      padding: 16px 24px;
    }
  }

  &__description {
    font-family: var(--font-avenir), sans-serif;
    font-style: normal;
    font-weight: var(--font-weight-roman);
    font-size: var(--desktop-b2-size);
    line-height: 20px;
    color: var(--secondary-grey);

    padding: 0 24px 16px;
    @media (min-width: 768px) {
      padding: 16px 24px;
    }
    // display: -webkit-box;
    // -webkit-line-clamp: 4;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
  }
}
