.service-card {
  &__image-wrapper {
    border-radius: 16px 0 16px 0;
    overflow: hidden;
  }

  &__content {
    padding: 16px 16px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-family: var(--font-avenir), sans-serif;
    font-style: normal;
    font-weight: var(--font-weight-heavy);
    font-size: 18px;
    line-height: 22px;
    color: var(--neutral-black1);
  }

  &__description {
    font-family: var(--font-avenir), sans-serif;
    font-style: normal;
    font-weight: var(--font-weight-roman);
    font-size: var(--desktop-b2-size);
    line-height: 20px;
    color: var(--secondary-grey);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
