.service-card {
  position: relative;
  overflow-y: hidden;
  border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transition: all 0.2s ease-in;
      .service-card__content {
        bottom: -42px;
        gap: 4px;
        .service-card__title {
          padding-bottom: 0;
        }
        .service-card__description {
          padding-top: 0;
        }
      }
    }
  }

  &__image-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    // aspect-ratio: 360 / 216;
    img {
      object-fit: cover;
      width: 100%;
      height: auto;
      height: 100%;
    }
  }

  &__content {
    background-color: #fff;
    // padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 300ms;

    bottom: -151px;
    @media (hover: none) {
      bottom: -0px;
    }
  }

  &__title {
    padding: 16px 24px;
    font-family: var(--font-avenir), sans-serif;
    font-style: normal;
    font-weight: var(--font-weight-heavy);
    font-size: 18px;
    line-height: 22px;
    color: var(--neutral-black1);
    // display: -webkit-box;
    // -webkit-line-clamp: 1;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
  }

  &__description {
    padding: 16px 24px;
    font-family: var(--font-avenir), sans-serif;
    font-style: normal;
    font-weight: var(--font-weight-roman);
    font-size: var(--desktop-b2-size);
    line-height: 20px;
    color: var(--secondary-grey);
    // display: -webkit-box;
    // -webkit-line-clamp: 4;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
  }
}
