.article-area {
  padding-top: 32px;
  padding-bottom: 32px;

  @media (min-width: 768px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .row {
    gap: 24px;

    @media (min-width: 768px) {
      gap: 0px;
    }
  }
}
