.footer {
  background: #292930;

  .footer-aboutme {
    display: flex;
    padding-top: 30px;

    @media (min-width: 768px) {
      padding-top: 64px;
    }

    &-container {
      display: flex;
      gap: 30px;
    }

    &-content {
      p {
        &:first-child {
          font-family: var(--font-sen);
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
          margin-bottom: 8px;
        }

        font-family: var(--font-dm);
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #8A90A2;

      }
    }

    &-form {
      margin-top: 30px;

      @media (min-width: 768px) {
        margin: 0;
      }

      label {
        display: block;
        font-family: var(--font-sen);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin-bottom: 10px;
      }

      input {
        padding: 16px;
        font-family: var(--font-sen);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #F0493E;
        background: #FFFFFF;
        border-radius: 4px;
        width: 100%;
        border: 0;
      }

      .mc-field-group {
        position: relative;
        overflow: hidden;
        &::after,
        &::before {
          content: "";
          display: block;
          width: 50px;
          height: 50px;
          position: absolute;
          bottom: 0;
          right: 0;
        }
        &::after{
          background: url('../images/arrow.svg') no-repeat center;
          z-index: 3;
        }
        &::before {
          background: #F0493E;
          border-radius: 0px 4px 4px 0px;
          z-index: 2;
        }
      }
    }
  }

  &-copyright {

    width: 100%;
    border-top: 1px solid rgba(138, 144, 162, 0.45);
    border-bottom: 1px solid rgba(138, 144, 162, 0.45);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 16px;
    padding-bottom: 16px;

    @media (min-width: 768px) {

      flex-direction: row;
      align-items: center;

      margin-top: 32px;
      margin-bottom: 64px;
      padding-top: 24px;
      padding-bottom: 24px;
    }


    p {
      flex: 1 0 auto;
      font-family: var(--font-sen);
      font-style: normal;
      font-weight: 400;
      color: #fff;

      padding-bottom: 26px;
      font-size: 12px;
      line-height: 16px;

      @media (min-width: 768px) {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 0;
      }
    }

    nav {
      display: flex;
      gap: 22px;

      a {
        svg {
          width: 40px;
          height: 40px;

          @media (min-width: 768px) {
            width: 58px;
            height: 58px;
          }

        }
      }
    }
  }
}
