@import 'reset';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

:root {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --font-sen: 'Sen', sans-serif;
  --font-dm: 'DM Sans', sans-serif;
}

.navbar {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 5;
  display: none !important;

  .container {
    padding: 8px 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-toggler {
    display: none;
  }
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navbar-nav {
  display: flex;
  gap: 48px;

  li {
    a {
      text-decoration: none;
      font-family: 'Sen';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.01em;
      color: #8A90A2;
      position: relative;

      &::after {
        content: none;
        display: block;
        width: 0%;
        height: 2px;
        background-color: #F0493E;
        position: absolute;
        bottom: -5px;
      }
    }

    &:hover {
      a {
        &::after {
          content: "";
          width: 100%;
        }
      }
    }
  }
}

main {
  .banner-contnet {
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #1C1C1C;
      opacity: 0.6;
    }


    p {
      position: absolute;
      bottom: 90px;
      z-index: 2;
      max-width: 1140px;
      left: 0;
      right: 0;
      margin: 0 auto;
      font-family: 'Sen';
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 74px;
      color: #FFFFFF;
    }
  }

  .article-area {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .card {
    padding: 16px;
    background: #F4F4F4;
    border-radius: 4px;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .card-body {
    margin-top: 16px;
  }

  .card-title {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: #1C1C1C;
    margin-bottom: 8px;
  }

  .card-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #8A90A2;
    margin-bottom: 18px;
  }

  .link-text {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F0493E;

    svg {
      margin-left: 8px;
    }

  }
}

@import 'footer';
