@import 'reset';

:root {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --font-sen: 'Sen', sans-serif;
  --font-dm: 'DM Sans', sans-serif;
  --color-black : #000;
  --color-white : #fff;
  --color-red: #F0493E;
  --color-grey : #8A90A2;
  --color-grey90 : #292930;
  --color-backpc : #1C1C1C;
  --color-grey10 : #F4F4F4;
}

.browserupgrade {
  margin: 8px 0;
  background: #ccc;
  color: var(--color-black);
  padding: 8px 0;
}

@import 'navbar';
@import 'banner';
@import 'container';
@import 'card';
@import 'footer';
