@forward "reset";
@forward "interpolate";
@forward "typography";
@forward "components/section-header";
@forward "components/button";
@forward "components/service-card";
@forward "components/icon-card";
@forward "components/why-dahnay";
@forward "components/faq";
@forward "components/banner";
@forward "components/expertise";
@forward "components/slider";
@forward "components/grow-form";
@forward "components/footer";
@forward "components/header";
@forward "components/policy";
@forward "components/what-drives-us";
@forward "components/trust-cta";
@forward "components/contact";
@forward "components/industry-overview";
@forward "components/centered-intro";
@forward "components/test-page";
@forward "components/newsroom";
@forward "components/case-study";
@forward "components/industries-grid";
@forward "components/ports-infra";
@forward "components/logistics-section";
@forward "components/lines-section";
@forward "components/solutions-grid";
@forward "components/services-grid";
@forward "components/home-about";
@forward "components/home-supply-chain";
@forward "components/home-newsroom";
@forward "components/home-services";
@forward "components/home-industries";
@forward "components/careers";
@forward "components/industries-slider";
@forward "components/integrated-services";
@forward "components/home-great-place";
@forward "components/home-hero";

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 1200px) {
        max-width: 1140px;
        padding-left: 80px;
        padding-right: 80px;
    }
    @media (min-width: 1440px) {
        max-width: 1120px;
        padding-left: 0;
        padding-right: 0;
    }
    &--fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
}

body * {
   outline: 1px solid lightblue;
}
